
@import './utils/variables';
@import './utils/mixin';
@import './utils/maps';

.Bloc_page{
    width: auto;
    margin: auto;
    
}

body{
    font-family: 'Roboto';
}

header{
    text-align: left;
    margin: 30px;
    @include mobile_only{
        position: relative;
        width: 100%;
        margin: auto;
        text-align: center;
        box-shadow: 0px 8px 3px -3px darken($cd_form, 10) ;
        & .logo{
            height: 100px;
        }
    }
}

.BarreRecherche{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-left: 30px;
    background: $cd_form;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
     & #barre_recherche{
         background: $cd_form;
         border: 0px;
         outline-style: none;
         font-size: 1rem;
     }
     @include mobile_only{
         justify-content: center;
         width: 99%;
         border-radius: 0;
         margin: auto;
         font-size: 1.8rem;
            & #barre_recherche{
                 font-size: 1.5rem;
                 width: 300px;
                 text-align: left;
                 margin-left: 10px;
            }
        }   

        
} 

.Presentation{
    margin-left: 30px;
    font-size: 1.2rem;

    @include mobile_only{
        text-align: center;
        background: lighten($cd_form, 5);
        width: 100%;
        margin: 0;
        padding: 10px;
        padding-bottom: 40px;
        font-size: 2rem;
            & h2{
                font-weight: bold;
            }    
    }
}

.Bouton_titre{
    @include Boutton    
}

.Notice{
    position: absolute;
    top: 10px;
    right: 100px;
    font-size: 1.2rem;

        & h2{
            margin-left: 50px;
        }        
        & li{
           background: lighten($cd_primary, 39);
           margin: 20px;
           padding: 15px;
           border-radius: 20px;
           box-shadow: $b_shadow;
           list-style-type: none;
           
           >i{
               margin-right: 15px;
               margin-left: 15px;
               color: darken($cd_form, 20);
           }
           & p{
               font-size: 1rem;
               color: #fff;
               text-align: center;
               justify-content: center;
               position: absolute;
               display: inline-block;
               left: 53px;
               background: $cd_primary;
               border-radius: 40px;
               height: 20px;
               width: 20px;
           }
        }
    
               .Num1{
                   top: 81px;
               }
               .Num2{
                   top: 154px;
               }
               .Num3{
                   top: 225px;
               }
           
        
        .Fonction_1:hover{
           @include Fonction;
        }
        .Fonction_2{
            @extend .Fonction_1;
        }
        .Fonction_3{
            @extend .Fonction_1;
        }

        @include mobile_only{
            font-size: 2rem;
            position: relative;
            margin-left: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            & h2{
                display: flex;
                align-items: start;
            }
            & .Fonction{
                display: flex;
                width:500px;
                height: 40px;
                justify-content: space-around;
                
            }
            .Num1{
                position: relative;
                top: -5px;
                left: -38px;
            }
            .Num2{
                position: relative;
                top: -5px;
                left: -38px;
            }
            .Num3{
                position: relative;
                top: -5px;
                left: -38px;
            }
            
        
        }
}

.Restaurants{
    @include Bloc_Restaurants
}

.BasPage{
    @include Footers     
}


