
@import './utils/variables';
@import './utils/mixin';
@import './utils/maps';

.Bloc_page{
    width: 1920px;
    margin: auto;
    
}

body{
    font-family: 'Roboto';
}

header{
    text-align: left;
    margin: 30px;
    @include mobile_only{
        position: relative;
        width: 100%;
        margin: auto;
        text-align: center;
        box-shadow: 0px 8px 3px -3px darken($cd_form, 10) ;
        & .logo{
            height: 100px;
        }
    }
}

.BarreRecherche{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-left: 30px;
    background: $cd_form;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
     & #barre_recherche{
         background: $cd_form;
         border: 0px;
         outline-style: none;
         font-size: 1rem;
     }
     @include mobile_only{
         justify-content: center;
         width: 99%;
         border-radius: 0;
         margin: auto;
         font-size: 1.8rem;
            & #barre_recherche{
                 font-size: 1.5rem;
                 width: 300px;
                 text-align: left;
                 margin-left: 10px;
            }
        }   

        
} 

.Presentation{
    margin-left: 30px;
    font-size: 1.2rem;

    @include mobile_only{
        text-align: center;
        background: lighten($cd_form, 5);
        width: 100%;
        margin: 0;
        padding: 10px;
        padding-bottom: 40px;
        font-size: 2rem;
            & h2{
                font-weight: bold;
            }    
    }
}

.Bouton_titre{
    @include Boutton    
}

.Notice{
    position: absolute;
    top: 10px;
    right: 100px;
    font-size: 1.2rem;

        & h2{
            margin-left: 50px;
        }        
        & li{
           background: lighten($cd_primary, 39);
           margin: 20px;
           padding: 15px;
           border-radius: 20px;
           box-shadow: $b_shadow;
           list-style-type: none;
           
           >i{
               margin-right: 15px;
               margin-left: 15px;
               color: darken($cd_form, 20);
           }
           & p{
               font-size: 1rem;
               color: #fff;
               text-align: center;
               justify-content: center;
               position: absolute;
               display: inline-block;
               left: 53px;
               background: $cd_primary;
               border-radius: 40px;
               height: 20px;
               width: 20px;
           }
        }
    
               .Num1{
                   top: 81px;
               }
               .Num2{
                   top: 154px;
               }
               .Num3{
                   top: 225px;
               }
           
        
        .Fonction_1:hover{
           @include Fonction;
        }
        .Fonction_2{
            @extend .Fonction_1;
        }
        .Fonction_3{
            @extend .Fonction_1;
        }

        @include mobile_only{
            font-size: 2rem;
            position: relative;
            margin-left: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            & h2{
                display: flex;
                align-items: start;
            }
            & .Fonction{
                display: flex;
                width:500px;
                height: 40px;
                justify-content: space-around;
                
            }
            .Num1{
                position: relative;
                top: -5px;
                left: -38px;
            }
            .Num2{
                position: relative;
                top: -5px;
                left: -38px;
            }
            .Num3{
                position: relative;
                top: -5px;
                left: -38px;
            }
            
        
        }
}

.Restaurants{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    background: lighten($cd_form, 5);
    width: 100%;

        & a{
            text-decoration: none;
        }

        & h2{
            margin-left: 30px;
            font-size: 2rem;
        }

        & .Restos{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        & img{
            width: 550px;
            height: 400px;
            margin: 50px;
            z-index: 1;
            border-radius: 10px;
            box-shadow: $b_shadow;
        }
        & .Nouveau{
            position: relative;
            display: flex;
            left: 470px;
            bottom: 430px;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 35px;
            z-index: 2;
            background: $cd_tertiary;
            border-radius: 3px;
            margin-bottom: -35px;
                & p{
                    color: darken($cd_tertiary, 35);
                    font-weight: bold;
                }
        }
        & .Description{
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 84.8%;
            background: #fff;
            bottom: 135px;
            left: 49px;
            border-radius: 0 0 10px 10px;
            color: #000;
                
                & p{
                    margin: 18px;
                    font-size: 1.2rem;
                }

                & .fa-heart{
                    font-size: 1.5rem;
                    margin: 20px;
                    left: 50px;
                }
        }
 
}

.BasPage{
    background: rgb(56, 56, 56);
    margin: auto;
    padding: 15px;

        & .logo{
            color: #fff;
            width: 250px;
            margin: 10px;
            margin-left: 40px;
        }

        & ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            @include mobile_only{
                flex-direction: column;
                align-self: flex-start;
            }

            & li{
               list-style-type: none;
               margin: 10px;
               color: #fff;
            }

            & i{
                margin-right: 10px;
            }

            & a{
                text-decoration: none;
                color: #fff;
            }
        }        
}


.Bloc_page_2{
    @extend .Bloc_page;
    background: $cd_form;
    @include mobile_only{
        background: none;
        width: auto;
    }
}

.ALFh{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    margin: auto;
    padding: 15px;

    & .logoEnTete_2{
        margin-right: 800px;
    }

    & .fa-arrow-left{
        margin-top: 20px;
        margin-left: 20px;
        color: #000;
        font-size: 1.5rem;
    }
    
    @include mobile_only{
        width: auto;
        margin: 0px;
        margin-bottom: -50px;
        box-shadow: none;
        background:none;

            & .logoEnTete_2{
              margin: auto;
              height: auto;
            }

            & .fa-arrow-left{
                margin-top: 40px;
            }

    }

}

.Photo1{
    position: relative;
    top: 50px;
    z-index: -1;


        & img{
            width: 830px;
            max-height: 450px;
            margin-left: 120px;
            margin-top: 50px;
            border-radius: 25px 25px 0 0;

            @include mobile_only{
                width: 100%;
                margin: 0px;
                border-radius: 0;
            }
        }
        
}

.Menu{
    display: inline-block;
    width: 800px;
    background: lighten($cd_form, 6);
    margin-left: 120px;
    margin-bottom: 30px;
    z-index: 1;
    padding: 15px;
    border-radius: 25px;
    
        & .NomResto{
            font-family: "shrikhand";
            font-size: 1.5rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 10px;
            align-items: center;
        }

        & .BlocMenu{
           display: flex;
           flex-direction: column;
           background: #fff;
           margin: 20px;
           padding: 5px;
           height: 50px;
           border-radius: 20px;
           box-shadow: $b_shadow;

           & .prix{
                text-align: right;
                margin-top: -25px;
           }

           & h4{
               margin: 4px;
           }

           & p{
               margin: 4px;
           }
        }

        & button{
            @include Boutton;
            margin: 25px;
            margin-left: 280px;

            @include mobile_only{
                position: relative;
                justify-content: center;
            }
        }

        & h3{
            font-weight: normal;
            padding-bottom: 5px;
            border-bottom: 4px solid $cd_tertiary;
            width: 40px;  

        }

        @include mobile_only{
            margin: 0px;
            width: 96.5%;
            border-radius: 35px 35px 0 0;
        }
} 



aside{
    position: relative;
    float: right;
    margin-top: -400px;
    margin-right: 120px;
    background: lighten($cd_form, 6);
    border-radius: 25px;
    border: 3px solid darken($cd_form, 8);

    & h3{
        font-size: 1.5rem;
        margin: 20px;
    }

    & .autresResto{
    @extend .Restaurants;
    background: none;
    margin-top: 0;

        & img{
            width: 300px;
            height: 200px;
        }

        & .Description{
            width: 75.3%;
            bottom: 125px;
            & p{
                font-size: 0.9rem;
            }

        }
    }

    @include mobile_only{
        display: none;
    }
}