@import './utils/variables';
@import './utils/mixin';
@import './utils/maps';
@import './utils/animations';

body{
    font-family: "roboto";
}

.Bloc_page_2{
    width: auto;
    margin: auto;
    background: $cd_form;
    @include mobile_only{
        background: none;
        width: auto;
    }
}

.ALFh{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #fff;
    margin: auto;
    height: 170px;

    & .logoEnTete_2{
        font-family: "shrikhand";
        width: auto;
        font-weight: bold;
        font-size: 4rem;
        margin: auto;
        & .logo{
            margin-top: 30px;
        }
    }

    & .fa-arrow-left{
        margin-top: 70px;
        margin-left: 30px;
        color: #000;
        font-size: 1.5rem;
    }
    
    @include mobile_only{
        width: auto;
        margin: 0px;
        margin-bottom: -50px;
        box-shadow: none;
        background:none;


            & .fa-arrow-left{
                margin-top: 70px;
            }

    }

}

.Photo2{
    position: relative;
    top: 50px;
    z-index: -1;


        & img{
            width: 547px;
            max-height: 450px;
            margin-left: 120px;
            margin-top: 50px;
            border-radius: 25px 25px 0 0;

            @include mobile_only{
                max-height: none;
                height: 750px;
                width: 100%;
                margin: 0px;
                border-radius: 0;
            }
        }
        
}

.Menu{
    display: flex;
    flex-direction: column;
    width: 517px;
    background: lighten($cd_form, 6);
    margin-left: 120px;
    margin-bottom: 30px;    
    z-index: 1;
    padding: 15px;
    border-radius: 25px;
    @include mobile_only{
        padding-bottom: 80px;
        margin-top: -100px;
        & h3{
            font-size: 2.6rem;
            width: 70px;
        }
        & h2{
            font-size: 3.7rem;
        }
    }
    
        & .NomResto{
            font-family: "shrikhand";
            font-size: 1.5rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 10px;
            align-items: center;
            @include mobile_only{
                font-size: 2.3rem;
            }
        }
        & .Coeur{
           position: relative;
           height: 24px;
           width: 24px;
           margin-right: 50px;
           cursor: pointer;
           @include mobile_only{
               font-size: 2.8rem;
               width: 44px;
               height: 44px;
           }
                &:hover{
                    & .fas{
                    opacity: 1;
                    animation: Like 350ms both ease-in-out;
                    transform-origin: center;                    
                    background: $cd_degrade;
                    background-clip: text;
                    }
                    & .far{
                        opacity: 0;
                        transition-duration: 250ms;
                    }
                }
            & .fas{
                position: absolute;
                
                left: 0;
                opacity: 0;
                color: transparent;
                
            }
            & .far{
                position: absolute;
                background: none;
            }
        }

        & .BlocMenu{
           display: flex;
           flex-direction: column;
           background: #fff;
           margin: 25px;
           padding: 5px;
           height: 55px;
           border-radius: 20px;
           box-shadow: $b_shadow;
           @include mobile_only{
                font-size: 2.7rem;
                height: 120px;
                padding: 25px;
                border-radius: 30px;
            }
            &:hover{
               cursor: pointer;
               & .Coche{
                   display: flex;
                   animation: Selection .8s both;
                   overflow: hidden;
                   transform-origin: right;
                   @include mobile_only{
                       animation: SelectionMobile .8s both;
                    }
                   & .fa-check-circle{
                       animation: Encoche .8s;
                   }
                }
                & .prix{
                    animation: prixSelect .8s both;
                    
                }
            }
            & .ennonce{
                width: 300px;
                text-overflow: ellipsis;
            }

           & .prix{
                position: absolute;
                right: 5%;
                top: 50%;
                margin-right: 5px;
                animation: prixSelectOut .6s both;
           }

           & h4{
               margin: 4px;
               text-overflow: ellipsis;
               white-space: nowrap;
               overflow: hidden;
               width: 70%;;
           }

           & p{
               margin: 4px;
               text-overflow: ellipsis;
               white-space: nowrap;
               overflow: hidden;
               width: 70%;;
           }
        }
        & .Bouton-titre{
            display: flex;
            align-self: center;
            @include Boutton;
            border: 0;
            margin: 25px;
            padding: 20px 60px;
            border-radius: 50px;
            font-size: 2.4rem;

            &:hover{
                transition-duration: 350ms;
            }

            & a{
                padding: 10px 30px 10px 30px;
            }
        }
    
    

        & h3{
            font-weight: normal;
            padding-bottom: 5px;
            border-bottom: 4px solid $cd_tertiary;
            width: 50px;  

        }

        @include mobile_only{
            margin: 0px;
            margin-top: -200px;
            width: 96.9%;
            border-radius: 35px 35px 0 0;
        }
} 



aside{
    
    float: right;
    margin-top: -1550px;
    margin-right: 120px;
    background: lighten($cd_form, 6);
    border-radius: 25px;
    border: 3px solid darken($cd_form, 8);


    & h3{
        font-size: 1.5rem;
        margin: 20px;
    }

    & .autresResto{
    @include Bloc_Restaurants;
    background: none;
    margin-top: 0;
    display: contents;
        & img{
            width: 300px;
            height: 200px;
        }

        & .Description{
            width: 75.3%;
            bottom: 125px;
            & p{
                font-size: 0.9rem;

                & .nomGras{
                font-size: 1rem;
            }
            }
            

        }
    }

    @media screen and (max-width: 1220px) {
        display: none;
    }
        
    
}

.BasPage{
    @include Footers
}

/* Animations*/
.Entrees{
    & .BlocMenu{
        opacity: 0;
        animation: Anim_menu 1.5s ;
        transform-origin: 100% 0%;
        animation-delay: 250ms;
        animation-fill-mode: both;
    }
    & .BlocMenu2{
        animation-delay: 350ms;
    }
    & .BlocMenu3{
        animation-delay: 450ms;
    }
}

.Plats{
    @extend .Entrees;
}

.Desserts{
    @extend .Entrees;
}

.Coche{
        background: $cd_tertiary;
    position: absolute;
    width: 70px;
    height: 100%;
    animation: SelectionOut .6s both;
    display: flex;
    overflow: hidden;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    color: #fff;
    right: 0;
    top: 0;
    border-radius: 0 20px 20px 0;
    @include mobile_only{
        font-size: 2rem;
        width: 90px;
        animation: SelectionOutMobile .6s both;
    }
}

.fa-check-circle{
    animation: EncocheOut .6s both;
}

@include mobile_only{
    .fa-utensils{
        margin-right: 20px;
    }
}