@keyframes Anim_menu {
  0% {
    transform: translatey(10px);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
@keyframes Selection {
  0% {
    width: 0;
    opacity: 0;
  }
  25% {
    opacity: 0.9;
  }
  100% {
    width: 70px;
  }
}
@keyframes SelectionOut {
  0% {
    width: 70px;
  }
  25% {
    opacity: 0.7;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes Encoche {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes EncocheOut {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes prixSelect {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50px);
  }
}
@keyframes prixSelectOut {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes Like {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes spinning {
  0% {
    color: #FF79DA;
    transform: rotate(0deg) scale(1);
  }
  50% {
    color: #99E2D0;
    transform: rotate(360deg) scale(1.5);
  }
  100% {
    color: #FF79DA;
    transform: rotate(720deg) scale(1);
  }
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -9999;
  }
}
@keyframes SelectionMobile {
  0% {
    width: 0;
    opacity: 0;
  }
  25% {
    opacity: 0.9;
  }
  100% {
    width: 90px;
  }
}
@keyframes SelectionOutMobile {
  0% {
    width: 90px;
  }
  25% {
    opacity: 0.7;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
.Bloc_page {
  margin: auto;
  width: 100%;
}

body {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  width: 100%;
}
@media screen and (max-width: 980px) {
  body {
    width: 100%;
    height: 100%;
  }
}

.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background: #fff;
  width: 100%;
  height: 178.5%;
  top: 0;
  bottom: 0;
  animation: loading both;
  animation-delay: 2.5s;
}
.loader .fa-spinner {
  margin-top: -700px;
  font-size: 10rem;
  animation: spinning 2s infinite;
}

header {
  text-align: left;
  margin: 30px;
}
header .logo_R {
  display: none;
}
@media screen and (max-width: 980px) {
  header {
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
    box-shadow: 0px 8px 3px -3px #cdcdcd;
  }
  header .logo {
    display: none;
  }
  header .logo_R {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "shrikhand";
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.Localisation h2 {
  display: none;
}

.BarreRecherche {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin-left: 30px;
  background: #e6e6e6;
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
}
.BarreRecherche #barre_recherche {
  background: #e6e6e6;
  border: 0px;
  outline-style: none;
  font-size: 1rem;
}
@media screen and (max-width: 980px) {
  .BarreRecherche {
    display: flex;
    justify-content: center;
    width: 96.9%;
    height: 50px;
    border-radius: 0;
    margin: auto;
    font-size: 1.8rem;
  }
  .BarreRecherche .fas {
    margin-left: 120px;
  }
  .BarreRecherche #barre_recherche {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    width: 300px;
    text-align: left;
    margin-left: 10px;
  }
}

.Presentation {
  margin-left: 30px;
  font-size: 1.2rem;
}
@media screen and (max-width: 980px) {
  .Presentation {
    text-align: center;
    background: #f3f3f3;
    margin: 0;
    padding: 10px;
    padding-bottom: 120px;
    font-size: 2rem;
  }
  .Presentation h2 {
    font-weight: bold;
  }
}

.Bouton_titre {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  display: inline-block;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 2px 2px 5px 2px #d4d4d4;
}
.Bouton_titre a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 30px;
}
@media screen and (max-width: 980px) {
  .Bouton_titre a {
    font-size: 2rem;
  }
}
.Bouton_titre:hover {
  opacity: 0.9;
  box-shadow: 3px 3px 4px 3px #c7c7c7;
}
.Bouton_titre:hover {
  transition-duration: 350ms;
}
@media screen and (max-width: 980px) {
  .Bouton_titre {
    padding: 25px 40px;
    border-radius: 40px;
    font-size: 2.3rem;
  }
}

.Notice {
  position: absolute;
  top: 10px;
  right: 100px;
  font-size: 1.2rem;
}
@media screen and (max-width: 980px) {
  .Notice {
    padding-bottom: 50px;
  }
}
.Notice h2 {
  margin-left: 50px;
}
.Notice li {
  background: #fcfbfe;
  margin: 20px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px #d4d4d4;
  list-style-type: none;
}
@media screen and (max-width: 980px) {
  .Notice li {
    margin-left: 150px;
    padding: 30px 20px;
    margin-bottom: 40px;
  }
}
.Notice li > i {
  margin-right: 15px;
  margin-left: 15px;
  color: #b3b3b3;
}
.Notice li p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  justify-content: center;
  position: absolute;
  display: inline-block;
  left: 53px;
  background: #9356DC;
  border-radius: 40px;
  height: 20px;
  width: 20px;
}
.Notice .Num1 {
  top: 81px;
}
.Notice .Num2 {
  top: 154px;
}
.Notice .Num3 {
  top: 225px;
}
.Notice .Fonction_1:hover, .Notice .Fonction_3:hover, .Notice .Fonction_2:hover {
  cursor: pointer;
  background: #e4d5f6;
}
.Notice .Fonction_1:hover i, .Notice .Fonction_3:hover i, .Notice .Fonction_2:hover i {
  color: #9356DC;
}
@media screen and (max-width: 980px) {
  .Notice {
    font-size: 2rem;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Notice h2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -360px;
  }
  .Notice .Fonction {
    font-size: 2.3rem;
    display: flex;
    width: 750px;
    height: 70px;
    border-radius: 30px;
    justify-content: flex-start;
    align-items: center;
  }
  .Notice .fa-mobile-alt {
    margin-right: 100px;
  }
  .Notice .fa-store {
    margin-right: 80px;
  }
  .Notice .fa-list-ul {
    margin-right: 85px;
  }
  .Notice .Num1 {
    font-size: 2rem;
    height: 40px;
    width: 40px;
    position: relative;
    top: 0px;
    left: -35px;
  }
  .Notice .Num2 {
    font-size: 2rem;
    height: 40px;
    width: 40px;
    position: relative;
    top: 0px;
    left: -35px;
  }
  .Notice .Num3 {
    font-size: 2rem;
    height: 40px;
    width: 40px;
    position: relative;
    top: 0px;
    left: -35px;
  }
}

.Restaurants {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  background: #f3f3f3;
  width: 100%;
}
@media screen and (max-width: 980px) {
  .Restaurants {
    padding-bottom: 50px;
  }
}
.Restaurants a {
  text-decoration: none;
  display: contents;
}
.Restaurants h2 {
  margin-left: 30px;
  font-size: 2rem;
}
@media screen and (max-width: 980px) {
  .Restaurants h2 {
    font-size: 3rem;
    margin-bottom: 0;
    padding-top: 50px;
  }
}
.Restaurants .Restos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.Restaurants img {
  width: 550px;
  height: 400px;
  margin: 50px;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px #d4d4d4;
}
@media screen and (max-width: 980px) {
  .Restaurants img {
    width: 800px;
    height: 550px;
    border-radius: 30px;
  }
}
.Restaurants .Nouveau {
  position: relative;
  display: flex;
  left: 470px;
  bottom: 430px;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  z-index: 2;
  background: #99E2D0;
  border-radius: 3px;
  margin-bottom: -35px;
}
@media screen and (max-width: 980px) {
  .Restaurants .Nouveau {
    left: 700px;
    bottom: 550px;
  }
}
.Restaurants .Nouveau p {
  color: #2c9c81;
  font-weight: bold;
}
.Restaurants .Description {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 84.8%;
  background: #fff;
  bottom: 139px;
  left: 49px;
  border-radius: 0 0 10px 10px;
  color: #000;
}
@media screen and (max-width: 980px) {
  .Restaurants .Description {
    width: 89%;
    bottom: 176px;
    border-radius: 0 0 30px 30px;
  }
}
.Restaurants .Description p {
  margin: 18px;
  font-size: 1.2rem;
}
@media screen and (max-width: 980px) {
  .Restaurants .Description p {
    font-size: 2.2rem;
  }
}
.Restaurants .Description p .nomGras {
  font-weight: bold;
  font-size: 1.4rem;
}
@media screen and (max-width: 980px) {
  .Restaurants .Description p .nomGras {
    font-size: 2.3rem;
  }
}
.Restaurants .Description .Coeur {
  position: relative;
  height: 24px;
  width: 24px;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 20px;
}
@media screen and (max-width: 980px) {
  .Restaurants .Description .Coeur {
    font-size: 2.5rem;
  }
}
.Restaurants .Description .Coeur:hover .fas {
  opacity: 1;
  animation: Like 350ms both ease-in-out;
  transform-origin: center;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  background-clip: text;
}
.Restaurants .Description .Coeur:hover .far {
  opacity: 0;
  transition-duration: 250ms;
}
.Restaurants .Description .Coeur .fas {
  position: absolute;
  left: 0;
  opacity: 0;
  color: transparent;
}
@media screen and (max-width: 980px) {
  .Restaurants .Description .Coeur .fas {
    left: -45px;
    top: 20px;
    width: 40px;
  }
}
.Restaurants .Description .Coeur .far {
  position: absolute;
  background: none;
}
@media screen and (max-width: 980px) {
  .Restaurants .Description .Coeur .far {
    right: 30px;
    top: 20px;
  }
}
.Restaurants .nomGras {
  font-size: 1rem;
}

.BasPage {
  background: #383838;
  margin: auto;
  padding: 15px;
}
.BasPage .logo {
  font-family: "shrikhand";
  color: #fff;
  font-size: 2rem;
  margin: 10px;
  margin-left: 40px;
}
@media screen and (max-width: 980px) {
  .BasPage .logo {
    font-size: 2.5rem;
  }
}
.BasPage ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 980px) {
  .BasPage ul {
    flex-direction: column;
    align-self: flex-start;
  }
}
.BasPage ul li {
  list-style-type: none;
  margin: 10px;
  color: #fff;
}
.BasPage ul i {
  margin-right: 10px;
}
.BasPage ul a {
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 980px) {
  .BasPage ul a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 980px) {
  .Restaurant1, .Restaurant4, .Restaurant3, .Restaurant2 {
    height: 600px;
  }
}
@media screen and (max-width: 980px) {
  .Restos {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 980px) {
  .fa-utensils {
    margin-right: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
