@mixin mobile_only {
    @media screen and(max-width: map-get($breakpoints, mobile)){
        @content;
    }
}


@mixin text_menu ($size: $p_size){
    font-weight: bold;
    font-size: $size;
    font-family: 'roboto', serif;
}

@mixin R_title ($size: $menu_size){
    font-size: $size;
    font-family: 'shrinkhand', serif;
}

@mixin R_descritpion {
    position: absolute;
    border-radius: 0% 0% 10px 10px;
    background-color: #fff;
    height: 20%;
}

@mixin Boutton{
    background:  linear-gradient(to bottom right, $cd_secondary, $cd_primary);
    display: inline-block;
    border-radius: 30px;
    padding: 10px;
    box-shadow: $b_shadow;
    
    & a{
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        padding: 30px;
    }
}    


